.dropzone {
    width: 50px; /* Adjust the width and height as needed */
    height: 50px;
    border: 1px solid #06cf0c; /* Add a border */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(3, 40, 92);
  }

.highlight {
  background-color: rgba(91, 89, 89, 0.949); /* Change the background color when a ship is dragged over the cell */
}