body {
  background-color: #111112;
  text-align: center;
}

h1 {
  font-size: 350%;
}

h1 a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
}

h1 a:hover {
  color: red;
}
