.cell {
  width: 50px; /* Adjust the width and height as needed */
  height: 50px;
  border: 1px solid #000; /* Add a border */
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight {
  background-color: yellow; /* Change the background color when a ship is dragged over the cell */
}

.ship {
  width: 50px; /* Adjust the width and height as needed */
  height: 50px;
  background-color: blue; /* Set the background color of the ship */
  border: 1px solid #000; /* Add a border */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move; /* Add a draggable cursor */
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 50px); /* Creates 8 equal-width columns */
  /* Adds a gap of 5px between cells */
}

.setupGrid{
  display:flex;
  justify-content: space-between;
}
