body {
  background-color: #00001a;
  text-align: center;
}

h1 {
  font-size: 350%;
}

h1 a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 a:hover {
  color: red;
}
